* {
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
}
#snake-title{
    margin: 20px auto;
}
#snake-js{
    width: 512px;
    height: 512px;
    margin: 20px auto;
}
#menu{

}

